@charset "utf-8";
/* CSS Document */


.k-textbox {
	width: 11.8em;
}

#tickets {
	width: 510px;
	height: 323px;
	margin: 30px auto;
	padding: 10px 20px 20px 170px;
	background: url('../../content/web/validator/ticketsOnline.png') transparent no-repeat 0 0;
}

#tickets h3 {
	font-weight: normal;
	font-size: 1.4em;
	border-bottom: 1px solid #ccc;
}

#tickets ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#tickets li {
	margin: 10px 0 0 0;
}

label {
	display: inline-block;
	width: 90px;
	text-align: right;
}

.required {
	font-weight: bold;
}

.accept, .status {
	padding-left: 90px;
}

.valid {
	color: green;
}

.invalid {
	color: red;
}
span.k-tooltip {
	margin-left: 6px;
}

