@charset "utf-8";
/* CSS Document */

#cadastro_entidade_tipo{ padding:0px; overflow:auto; }
#input_nova_categoria_entidade{ color:#444; font-family:Arial, Helvetica, sans-serif; text-align:right; float:left; padding:0 1% 0 0; height:99%; background:#E2F0F6; border-right:1px solid #94C0D2; width:25%; }
#tabela_entidade_tipo{ float:left; padding:0px; width:73%; margin:0px; text-align:left; height:inherit; overflow:auto;}
.title{ line-height:25px; color:#333; padding:0 5px; border:1px solid #94C0D2;}