#cadastro_financeiro_condicaopagamento{ padding:0px; overflow:auto; margin:0px; }	

#FC_formapagamento_superior{ 
	width:auto; 
	height:auto;
	padding:5px;
}

#FC_formapagamento_inferior{ height:70%; padding:5px; }
#FC_formapagamento_inferior fieldset{ height:100%; }
#FC_formapagamento_table_parcelas{ width:100%; max-height:180px; overflow:auto;}
input[type='button']{float:right; margin:2px 0px 0 5px }
#tabstrip_FC_formapagamento{ height:99%; width:99%; margin:0px; padding:0px;}
#FC_formapagamento_aba_dois{ height:100%}
#FC_formapagamento_aba_dois_table{width:100%; max-height:180px; overflow:auto;}

#FC_formapagamento_aba_um{
	margin:0px;
	padding:10px;
	height:100% !important;
	width:90%;
}

#tabstrip_FC_formapagamento-1{
	margin:0px;
	padding:0px;
	height:auto;
}

#FC_botoes{ width:300px; float:right; height:10%;  padding:10px; }