#cadastro_configuracao_filial{ height:100%; width:100%; margin:0px; padding:0px;}
#ffa_left{ height:100%; width:300px;  margin-left:-10px; margin-top:-3px; float:left;}
#ffa_right{ width:450px; border:0px solid red; float:left; margin-top:-3px; height:270px;}
#ffa_vinculados{ width:300px; height:215px; border:0px solid red; display:block;}
#abas_configuracao_filial{ height:100%; margin:0px; padding:0px; width:100%}
#configuracao_filial{ height:800px; width:100%; margin:0px; padding:0px;}