#tabstrip{ margin-top:0px;}
.fieldset_cliente_ativo{width:150px; float:right;}
.produto_bt_inferior{ float:right; margin-top:5px;}


.produto_categoria_codigo{ float:left; width:100%; border:1px solid #ccc;}
.produto_ativo{ float:right; margin-right:15px;}
.span_left{ float:left;}
fieldset{ background:#E4E4E4;}