.empresa_produto_nome{ color:#888}
#FC_formapagamento_superior{ width:auto; }
#FC_formapagamento_inferior{ height:220px; }
#FC_formapagamento_table_parcelas{ width:100%; max-height:180px; overflow:auto;}
input[type='button']{float:right; margin:2px 0px 0 5px }
#tabstrip_produto{ height:99%; width:100%; margin-top:0px}
#form_produto{ height:100%}
#produto_pesquisa_aba_dois_table{width:100%; max-height:180px; overflow:auto;}
