@charset "utf-8";
/* CSS Document */

div#list_telas_acesso{loat:left; padding:0px; width:68%; margin:0px; text-align:left; height:inherit; overflow:auto;}

#controle_usuario_acesso{ padding:0px; overflow:auto; }
#input_nova_tela{ color:#444; font-family:Arial, Helvetica, sans-serif; text-align:right; float:left; padding:0 1% 0 0; height:100%; background:#E2F0F6; border-right:1px solid #94C0D2; width:30%; }

.title{ line-height:25px; color:#333; padding:0 5px; border:1px solid #94C0D2;}

